node_modules
.env
config.json
eslint.config.js
.prettierrc.json
.npmignore
client_secret.json
config.inc.php
data/*.db
data/*.db-shm
data/*.db-wal
.eslintrc.cjs
jsconfig.json
dist/
*.tsbuildinfo
logs/
.pm2
coverage/
*.lcov